<div class="body">
    <div class="box">
        <img src="../../../../assets/img/group.png" width="50%">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input  type="submit" name="" value="Login" routerLink="/src/app/shop/pages/dashboard">

        <hr>
            <p>Not a member?</p>
            <a routerLink="/auth/registro">Create new account</a>
    </div>
    <div class="fin">
          <button class= "redes"> 
              <mat-icon>
                  <img src="../../../../assets/img/facebook.png" width="100%">
                </mat-icon>
           </button>
          <button class= "redes" > <mat-icon><img src="../../../../assets/img/instagram.png" width="100%"></mat-icon></button>
          <button class= "redes"> <mat-icon><img src="../../../../assets/img/twitter.png" width="100%"></mat-icon></button>
          <button class= "redes"> <mat-icon><img src="../../../../assets/img/whatsapp.png" width="100%"></mat-icon></button>
    </div>
</div>

    



     
