<div class="body">
  <!--Slogan y busqueda-->
  <div class="inicio">
    <h1>Se lo que tu quieras ser..</h1>
    <div class="search">
      <input type="text" placeholder="Search" >
      <div class="icono">
        <i class="material-icons">search</i>
      </div>
    </div>
  </div>  
  <hr>
  <!-- Temporada Actual-->
    <div class="temporada">
      <img src="../../../../assets/img/otoño-invierno.jpg">
      <div class="tempo">
        <h2>Temporada</h2>
        <h1>OTOÑO INVIERNO</h1>
      </div>
    </div>
    <br>
  <!--Card de -->
  <div class="categorias" >
      <mat-card routerLink="/auth/registro">
        <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
      <mat-card-title style="text-align: center; margin: 20px;">Rebajas</mat-card-title>
    </mat-card>
    
      <mat-card routerLink="/auth/registro">
        <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
      <mat-card-title style="text-align: center; margin: 20px;">Top Ventas</mat-card-title>
    </mat-card>


      <mat-card routerLink="/auth/registro">
        <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
      <mat-card-title style="text-align: center; margin: 20px;">De Temporada</mat-card-title>
    </mat-card>

    <br>
  </div>
  <br>
  <!--Catalogo-->
  <h1 style="text-align: center;">Cátalogo</h1>
  <hr style="background: black; width: 90%;">
  <div class="categorias" >
    <mat-card routerLink="/auth/registro">
      <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
    <mat-card-title style="text-align: center; margin: 20px;">Ropa</mat-card-title>
  </mat-card>
    
    <mat-card routerLink="/auth/registro">
      <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
    <mat-card-title style="text-align: center; margin: 20px;">Ropa Intima</mat-card-title>
  </mat-card>

      <mat-card routerLink="/auth/registro">
        <img mat-card-image src="../../../../assets/img/rebajas.jpg" alt="Photo of Sale" style="height: 300px;">
      <mat-card-title style="text-align: center; margin: 20px;">Accesorios</mat-card-title>
    </mat-card>

    <br>
  </div>
  <hr style="background: black; width: 90%;">
  <br>
  
</div>
