<div class="body">
    <form class="box" >
        <img src="../../../../assets/img/group.png" width="50%">
        <h1>Register</h1>
        <input type="text" name="" placeholder="Full Name">
        <input type="text" name="" placeholder="E-mail">
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input routerLink="/src/app/shop/pages/dashboard" type="submit" name="" value="New Account">
        <hr>
            <a routerLink="/auth/login">Already have an account?</a>
    </form>
    <mat-toolbar class="fin">
        <mat-toolbar-row>
          <span>Nuestras redes</span>
          <span class="example-spacer"></span>
          <button class= "redes"> 
              <mat-icon>
                  <img src="../../../../assets/img/facebook.png" width="100%">
                </mat-icon>
            </button>
          <button class= "redes"> <mat-icon><img src="../../../../assets/img/instagram.png" width="100%"></mat-icon></button>
          <button class= "redes"> <mat-icon><img src="../../../../assets/img/twitter.png" width="100%"></mat-icon></button>
          <button class= "redes"> <mat-icon><img src="../../../../assets/img/whatsapp.png" width="100%"></mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
