<mat-sidenav-container fullscreen>
    <!--Pagina de iconos  -------https://fonts.google.com/icons?selected=Material+Icons:bookmark-->
 <mat-sidenav #sidenav mode="push"> 
    <mat-toolbar color="primary">
        <span >
          menu
        </span>
        <button mat-icon-button
           (click)="sidenav.toggle()">
           <mat-icon> <!-- La etiqueta mat-icon es para poner iconos al diseño-->
               menu
           </mat-icon>       
        </button>
    </mat-toolbar>
    <mat-nav-list>
        <a  routerLink="../listado"
        mat-list-item
        (click)="sidenav.toggle()"
        >
            <mat-icon mat-list-icon>category</mat-icon>
            <span>Categorias</span>
        </a>

        <a  routerLink="../agregar/"
        mat-list-item
        (click)="sidenav.toggle()"
        >
            <mat-icon mat-list-icon>local_fire_department</mat-icon>
            <span>Mas vendidas</span>
        </a>

        <a  routerLink="../buscar/"
        mat-list-item
        (click)="sidenav.toggle()"
        >
            <mat-icon mat-list-icon>search</mat-icon>
            <span>Buscar</span>
        </a>
    </mat-nav-list>
 </mat-sidenav>
 <mat-toolbar class="nar">
    <button mat-icon-button
       (click)="sidenav.toggle()">
       <mat-icon>
           menu
       </mat-icon>       
    </button>
    <span>Fashon Sponsor</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" >
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
    </button>
    <button routerLink="/auth/pages/login" mat-icon-button class="icon">
        <mat-icon mat-list-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="login" mat-icon-button class="icon" >
        <mat-icon mat-list-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

 
